<div class="container">
  <div class="row" [ngStyle]="{ marginTop: '2rem' }">
    <textarea
      placeholder="Write a recursive algorithm to reverse a string..."
      class="col-xs-12 col-sm-12 col-md-5 answer"
      [(ngModel)]="answer"
      autocomplete="off"
      autocorrect="off"
      autocapitalize="off"
      spellcheck="false"
    ></textarea>

    <div class="col-md-2">
      <button
        mat-raised-button
        color="accent"
        class="start-btn"
        (click)="compare()"
      >
        Start
      </button>
      <button
        mat-raised-button
        color="warn"
        class="reset-btn"
        (click)="reset()"
      >
        Reset
      </button>

      <ng-template [ngIf]="checkPressed" [ngIfElse]="notPressed">
        <ng-template [ngIf]="isCorrect" [ngIfElse]="notCorrect">
          <h1 class="outcome">CORRECT</h1>
        </ng-template>

        <ng-template #notCorrect>
          <h1 class="outcome">WRONG</h1>
        </ng-template>
      </ng-template>

      <ng-template #notPressed> </ng-template>
    </div>

    <div class="col-md-5 solution">
      <p class="promise">
        function reverse (str) &#123;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;if (str === "") &#123;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;} else &#123;<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;return
        reverse( str.substring (1)) + strcharAt (0);<br />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;}<br />
        }<br /><br />
      </p>
    </div>
  </div>


  
</div>
