.container {
    width: 90%;
}

.test {
    color: white;
}

.solution {
    height: 80vh;
    padding: 2rem;
    border: 1px solid rgb(169, 169, 169);
}

.workspace {
    background: #eee;
    padding: 2rem;
    height: 80vh;
}

.btn {
    width: 100%;
}

