.img1 {
    background: rgb(106, 106, 255);
}

.img2 {
    background: rgb(83, 146, 59);
}

.img3 {
    background: rgb(114, 59, 146)
}

.img-container {
    display: block;
    position: relative;
    width: 100%;
    height: 40rem;
}


.navigate-left {
    width: 2rem;
    height: 5rem;
    background: white;
    position: absolute;
    left: 0;
    top: 50%;
}


.navigate-right {
    width: 2rem;
    height: 5rem;
    background: white;
    position: absolute;
    right: 0;
    top: 25%;
}




button {
    padding: 2rem;
    border-radius: 2rem;
    border: none;

    &:hover {
        background: darken(rgb(167, 187, 190), 10%);
    }
}


.btn {
    background: pink;
}