<mat-toolbar color="primary">
  <mat-toolbar color="primary">
    
    <button mat-button onClick="window.open('//github.com/tonyvu1')">
      <i
        class="fab fa-github"
        [ngStyle]="{
          fontSize: '2.5rem',
          marginRight: '.5rem',
          paddingBottom: '.4rem'
        }"
      >
      </i>
      Github
    </button>

    <button mat-button onClick="window.open('//linkedin.com/in/tonyvu1/')">
      <i
        class="fab fa-linkedin"
        [ngStyle]="{
          fontSize: '2.5rem',
          marginRight: '.5rem',
          paddingBottom: '.4rem'
        }"
      >
      </i>
      LinkedIn
    </button>
    <span class="fill-remaining-space"></span>

    <a class="logo" href="">{{ globals.title }}</a>
  </mat-toolbar>
</mat-toolbar>
