<mat-toolbar class="navbar" color="primary">
  <button mat-button [matMenuTriggerFor]="dataStructures">
    Data Structures
  </button>

  <mat-menu #dataStructures="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="arrays">Arrays</button>
  </mat-menu>

  <mat-menu #arrays="matMenu">
    <button mat-menu-item>Insects</button>
    <button mat-menu-item>Molluscs</button>
    <button mat-menu-item>Crustaceans</button>
    <button mat-menu-item>Corals</button>
  </mat-menu>

  <button mat-button [matMenuTriggerFor]="algorithms">
    Algorithms
  </button>

  <mat-menu #algorithms="matMenu">
    <button mat-menu-item [matMenuTriggerFor]="recursion">Recursion</button>
  </mat-menu>

  <mat-menu #recursion="matMenu">
    <button mat-menu-item routerLink="recursion1">Problem 1</button>
    <button mat-menu-item>Molluscs</button>
    <button mat-menu-item>Crustaceans</button>
    <button mat-menu-item>Corals</button>
  </mat-menu>

  <span class="fill-remaining-space"></span>

  <a class="logo" href="">MEMORIZE</a>
</mat-toolbar>

<mat-toolbar class="header-toolbar" color="primary">
  <mat-toolbar color="primary">
    <h1 class="header" href="">{{ globals.title }}</h1>
  </mat-toolbar>
</mat-toolbar>
