.container {
  position: relative;
}

.logo {
  position: absolute;
}

.navbar {
  -webkit-box-shadow: -4px 4px 33px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -4px 4px 33px -8px rgba(0, 0, 0, 0.75);
  box-shadow: -4px 4px 33px -8px rgba(0, 0, 0, 0.75);

  border-radius: 0%;
  height: fit-content;
  background-color: #262626;
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.header-toolbar {
  padding: 4rem 1.6rem;
  background-color: #303030;
  text-align: center;
  justify-content: center;
}

.header {
  font-weight: 100;
  text-align: center;
  justify-content: center;

}

.nav-btn:hover {
  background-color: #303030;
}

.profile {
  position: absolute;
  right: 0;
}



.nav-panel-link:hover {
  cursor: pointer;
}

.nav-panel {
  background: #fff;
}