@import "~@angular/material/theming";
@include mat-core();

$style-theme-primary: mat-palette($mat-purple);

$style-theme-accent: mat-palette($mat-amber, A200, A100, A400);

$style-theme-warn: mat-palette($mat-red);

$style-theme: mat-light-theme(
  $style-theme-primary,
  $style-theme-accent,
  $style-theme-warn
);

.mat-drawer-inner-container {
  background-color: #fafafa;
}

.mat-menu-content {
  width: 200px;
}

.mat-drawer-inner-container {
  background: #eee;
}


@include angular-material-theme($style-theme);
