<mat-toolbar color="primary" class="nav-bar">
  <button
    type="button"
    aria-label="Toggle sidenav"
    mat-icon-button
    class="menu"
  >
    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
  </button>

  <a class="handsetHeader" href="" *ngIf="isHandset">
    <h2>Lynx</h2>
    <h5 class="sub-header">Resort</h5>
  </a>
  <span class="fill-remaining-space" *ngIf="isHandset"></span>
  <button
    mat-button
    [matMenuTriggerFor]="menuRooms"
    class="nav-link"
    *ngIf="!isHandset"
  >
    ROOMS
  </button>
  <mat-menu #menuRooms="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button
    mat-button
    [matMenuTriggerFor]="menuDining"
    class="nav-link"
    *ngIf="!isHandset"
  >
    DINING
  </button>
  <mat-menu #menuDining="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button
    mat-button
    [matMenuTriggerFor]="menuGatherings"
    class="nav-link"
    *ngIf="!isHandset"
  >
    GATHERINGS
  </button>
  <mat-menu #menuGatherings="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <a class="header" href="" *ngIf="!isHandset">
    <h2>Lynx</h2>
    <h5 class="sub-header">Resort</h5>
  </a>

  <button
    mat-button
    [matMenuTriggerFor]="menuWellness"
    class="nav-link"
    *ngIf="!isHandset"
  >
    WELLNESS
  </button>
  <mat-menu #menuWellness="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button
    mat-button
    [matMenuTriggerFor]="menuGallery"
    class="nav-link"
    *ngIf="!isHandset"
  >
    GALLERY
  </button>
  <mat-menu #menuGallery="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <button
    mat-button
    [matMenuTriggerFor]="menuDiscover"
    class="nav-link"
    *ngIf="!isHandset"
  >
    DISCOVER
  </button>
  <mat-menu #menuDiscover="matMenu">
    <button mat-menu-item>Item 1</button>
    <button mat-menu-item>Item 2</button>
  </mat-menu>

  <div class="reserve-btn">
    RESERVE
  </div>
</mat-toolbar>
